.solution {
  padding: 30px 0 34px;
  @include media-up(md) {
    padding: 80px 0;
  }

  h2 {
    margin-bottom: 32px;
    max-width: 420px;
    @include media-up(sm) {
      max-width: 620px;
    }
    @include media-up(lg) {
      margin-bottom: 48px;
      max-width: 680px;
    }
  }

}

.solution-items {
  display: flex;
  flex-direction: column;
  @include media-up(md) {
    display: grid;
    grid-template-columns: 50% calc(50% - 20px);
    grid-auto-rows: auto 1fr;
    column-gap: 20px;
  }

  @include media-up(lg) {
    grid-template-columns: 40.68% calc(59.32% - 20px);
    grid-auto-rows: max-content;
  }

  &__solution-item {
    @include media-up(md) {
      grid-column: 1/2;
    }
  }

  &__solution-image {
    @include media-up(md) {
      grid-column: 2/3;
      grid-row: 1/6;
    }
  }
}

.solution-item.active {
  padding: 0 20px 16px;
  background: $color-white;
  border-radius: 12px 12px 0 0;
  @include media-up(md) {
    padding: 32px;
    border-radius: 24px;
  }

  .solution-item {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: $color-text-primary;
      margin-bottom: 16px;

      img:nth-child(2) {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s;
      }

      img:nth-child(3) {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.7s;
      }
      span {
        max-width: inherit;
      }

      @include media-up(sm) {
        font-size: 28px;
        line-height: 108%;
        margin-bottom: 24px;
      }
    }

    &__text {
      transition: opacity 0.3s;
      visibility: visible;
      opacity: 1;
      height: auto;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.04em;
      color: $color-text-tertiary;
      @include media-up(sm) {
        font-size: 20px;
        line-height: 140%;
      }
    }
  }

  & + .solution-image {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 0.3s;
  }
}

.solution-image {
  user-select: none;
  padding: 16px 20px 18px;
  background-color: $color-white;
  border-radius: 0 0 12px 12px;
  @include media-up(md) {
    padding: 0;
    background-color: $color-bg-primary;
  }

  img {
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    @include media-up(md) {
      border-radius: 24px;
    }
  }
}

.solution-item {
  user-select: none;
  cursor: pointer;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: start;
  &__text {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: $color-text-primary;

    span {
      max-width: 220px;
      padding-left: 4px;
    }

    img {
      margin-left: 10px;
    }
    img:nth-child(2) {
      opacity: 0;
      visibility: hidden;
    }
    img:nth-child(3) {
      display: block;
      opacity: 1;
      visibility: visible;
      transition: all 0.7s;
    }

    @include media-up(sm) {
      font-size: 28px;
      line-height: 114%;
      span {
        max-width: 360px;
        padding-left: 0;
      }
    }
  }

  & + .solution-image {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

