.accent-cloud {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: $color-accent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 3px 6px;
  background: $color-bg-accent;
  border-radius: 6px;
  border: 0.6px solid $color-accent;
  @include media-up(md) {
    font-size: 16px;
    padding: 8px;
    font-weight: 700;
  }
}